<!--/* Header Component for WKND Site */-->
<header class="wknd-header header-leo">
    <div class="container">
    <a class="wknd-header-logo" href="#">MIAO</a>
    <h1>${currentPage.title ? currentPage.title : 'header'}</h1>
    </div>
</header>