/* WKND Navigation Header styles */

@mobile-nav-bg-color: #3c3c3c;
@mobile-nav-link-color: #fff;

.cmp-navigation--header {

    float:right;
    padding-top: .25em;
    min-width: 100px;
    margin-right: 0.25em;
    margin-left: 0.25em;

    .cmp-navigation {
        float:right;

        .cmp-navigation__group {
            list-style: none;
            margin:0;
        }

        .cmp-navigation__item {
            display: block;
            float: left;
        }

        .cmp-navigation__item-link {
            color: #3c3c3c;
            font-size: @font-size-medium;
            text-transform: uppercase;
            font-weight: bolder;
            padding: 15px 17px;
            text-decoration: none;
            border-radius: 6px;
            /* Firefox */
            -moz-transition: all 300ms ease-in;
            /* WebKit */
            -webkit-transition: all 300ms ease-in;
            /* Opera */
            -o-transition: all 300ms ease-in;
            /* Standard */
            transition: all 300ms ease-in;
            &:hover,
                &:focus {
                background-color: @brand-primary;
                }
        }

        .cmp-navigation__item--active .cmp-navigation__item-link {
            background-color: @brand-primary;
        }
    }

    @media (max-width: @screen-medium) {

        display:none;
    }
}

/* PORCODIO */
.wknd-header {
    -webkit-transition: 200ms ease-in-out;
    -moz-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out;
    text-align:center;
    line-height:10px;
    padding-bottom: 1em;
}
.wknd-header.shrink {
    height: 85px;
    line-height:20px;
    padding-bottom: 0;
}

.wknd-header-logo {
    float: right;
    position: relative;
    left: 39%; /* or right 50% */
    line-height: 28px;
    text-align: left;
    font-size:30px;
    font-weight:normal;
    -webkit-transition: 200ms ease-in-out;
    -moz-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out;
}

.wknd-header.shrink .wknd-header-logo {
    line-height: 28px;
    left: -10%;
    -webkit-transition: 200ms ease-in-out;
    -moz-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out;
}

#header-navbar {
    padding-top: 3.5em;
    margin-right: 11%;
    -webkit-transition: 200ms ease-in-out;
    -moz-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out;
}

.wknd-header.shrink #header-navbar {
    padding-top: 0.4em;
    margin-right: 0.25em;
    margin-left: 0.25em;
}