/* WKND Navigation Footer Style */

@footer-color: #fff;
p::-moz-selection { color: @brand-primary; background: #001a33;}
p::selection { color: @brand-primary; background: #001a33;}

.cmp-navigation--footer {

      .cmp-navigation {
        width: 100%;
        text-align: center;
        float: left;
        margin-top: 1em;

        .cmp-navigation__group {

            margin: auto;
            margin-top:2em;
            width: 70%;

          .cmp-navigation__item {

            float:left;
            display: block;

            .cmp-navigation__item-link {
                font-size: @font-size-xsmall;
                text-transform: uppercase;
                color: @footer-color;
                height:6em;
                width: 10em;
                text-align: center;
                text-decoration: none;
                padding-top: 4em;
                float:left;

                &:hover,
                &:focus {
                    color: @brand-primary;
                }
              /* Firefox */
              -moz-transition: all 300ms ease-in;
              /* WebKit */
              -webkit-transition: all 300ms ease-in;
              /* Opera */
              -o-transition: all 300ms ease-in;
              /* Standard */
              transition: all 300ms ease-in;
            }

        }

        li.cmp-navigation__item--active .cmp-navigation__item-link {
            color: @brand-primary;
        }

         @media (max-width: @screen-medium) {
            margin-top: 2em;
        }
    }
 }

}