 /* WKND teaser - default.less */

.cmp-teaser {
    border-radius: 6px;
    .cmp-teaser__title {
        font-family: @font-family-serif;
        margin-top: 0;
    }

    .cmp-teaser__title-link {
     color: @teaser-dark-color;
    }

    .cmp-teaser__description {
     color: @gray;
     font-size: @font-size-small;
     margin: 1em 0;
    }

    .cmp-teaser__action-link {
     border-radius: 6px;
     background-color: @brand-primary;
     text-transform: uppercase;
     font-size: @font-size-small;
     padding: 0.75em 3.5em;
     margin-top: .5em;
     font-weight: @font-weight-bold;
     color: @teaser-dark-color;
     -webkit-transition: 200ms ease-in-out;
     -moz-transition: 200ms ease-in-out;
     transition: 200ms ease-in-out;
 }
    .cmp-teaser__action-link:hover{
    background-color: #3c3c3c;
    }
}