/* WKND Text Default style */
 
.cmp-text {

    font-family: @font-family-serif;

    p {
        text-align: justify;
        font-size: @font-size-base;
        line-height: @line-height-base + 1;
    }
}