/* WKND Title Underline style */

.cmp-title--underline {
	.cmp-title__text:after {
		border-bottom: 2px solid @brand-primary;
		content: '';
		display: block;
		padding-top: 8px;
		width: 84px;
	}
}