/* WKND List Default Style */

.cmp-list {
	float: left;
	padding: 0;
	.cmp-list__item {
		list-style: none;
		float: left;
		margin-bottom: 1em;
		width: 100%;
	}
	.cmp-list__item-link {
		float: left;
		font-weight: 600;
		padding: 0.5rem 1rem;
		&:hover {
			background: @brand-secondary;
		}
	}
	.cmp-list__item-title {
		float: left;
		width: 100%;
	}
	.cmp-list__item-date {
		color: @gray-light;
		float: left;
		font-size: @font-size-small;
		width: 100%;
	}
}