<!--/* Header Component for WKND Site */-->
<header class="wknd-header">
<div class="container">
<a class="wknd-header-logo" href="#">WKND</a>
<h1>${currentPage.title ? currentPage.title : 'header'}- by Francesco</h1>
</div>
</header>
